#!/bin/sh
#
## File managed by fabric, don't edit directly
#

server={{env.ed_postgresql_database_host}}
username={{instance.db_user}}

dbname={{instance.db_name}}

export PGPASSWORD={{instance.db_password}}

sql_dir=/usr/share/ed/sql

postgis_dir={{env.postgis_dir}}
